<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>View\View</fullnamespace>
    <descriptive locale="en_US">
        <title>View</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>View</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Anthony Chevrier</name>
        <email>anthony@meedle.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>other</stability>
</module>
